variables:
  nodes: [2]

leonardo:
  scheduler: slurm

  default_conf:
    account: "IscrC_OMG-25"
    cpus_per_task: 1
    time: "00:05:00"
    partition: "boost_usr_prod"
    qos: "normal"
    modules: 
      - "gcc/12.2.0"
      - "cuda/12.2"
      - "openmpi/4.1.6--gcc--12.2.0-cuda-12.2"
      - "nccl/2.22.3-1--gcc--12.2.0-cuda-12.2-spack0.22"

  configs:
    - name: "leonardo__boost_usr_prod__{nodes}_nodes"
      nodes: "{nodes}"
      ntasks: "{nodes}"
      gpus: "{gpus}"
      custom_headers:
        - "#SBATCH --ntasks-per-node=4"
        - "#SBATCH --gpus-per-task=1"
