variables:
  nodes: [2, 4, 8, 16, 32, 64, 128, 256]

leonardo:
  scheduler: slurm

  default_conf:
    account: "IscrC_OMG-25"
    cpus_per_task: 1
    time: "00:05:00"
    partition: "boost_usr_prod"
    qos: "normal"
    gpus: 4
    modules: 
      - "gcc/12.2.0"
      - "cuda/12.2"
      - "openmpi/4.1.6--gcc--12.2.0-cuda-12.2"
      - "nccl/2.22.3-1--gcc--12.2.0-cuda-12.2-spack0.22"

  configs:
    - name: "leonardo__boost_usr_prod__{nodes}_nodes"
      nodes: "{nodes}"
      custom_headers:
        - "#SBATCH --ntasks-per-node=4"

alps:
  scheduler: slurm

  default_conf:
    account: "lp100"
    cpus_per_task: 1
    time: "00:05:00"
    partition: "normal"
    gpus: 4
    modules:
      - "gcc/13.2.0"
      - "cuda/12.4.0"
      - "nccl/2.20.3-1"
      - "cray-mpich/8.1.30"
    custom_headers:
      - "#SBATCH --uenv=prgenv-gnu/24.7:v3"
      - "#SBATCH --view=modules"
      - "#SBATCH --ntasks-per-node=4"

  configs:
    - name: "alps__normal__{nodes}_nodes"
      nodes: "{nodes}"