variables:
  nodes: [1, 2, 4, 8, 16, 32, 64, 128]

leonardo:
  scheduler: slurm

  default_conf:
    account: "IscrC_OMG-25"
    gpus: 4
    tasks_per_node: 4
    cpus_per_task: 8
    time: "00:10:00"
    partition: "boost_usr_prod"
    qos: "normal"
    modules: 
      - "gcc/12.2.0"
      - "nvhpc/24.5"
      - "hpcx-mpi/2.19"
    env:
      - "NCCL_IB_SL=1"
      - "UCX_IB_SL=1"

  configs:
    - name: "{nodes}_nodes"
      nodes: "{nodes}"
