variables:
  nodes: [2, 4, 6, 8]
  gpus_per_node: [0, 4]

  leonardo_service_level: [0, 1]


isarco:
  scheduler: local

  default_conf:
    modules: 
      - "nvhpc/26.1"

  configs:
    - name: "isarco__{gpus_per_node}_gpus__{nodes}_nodes"

leonardo:
  scheduler: slurm

  default_conf:
    account: "IscrC_OMG-25"
    cpus_per_task: 1
    time: "00:05:00"
    partition: "boost_usr_prod"
    qos: "normal"
    modules: # Make sure this is coherent with AXCCL config
      - "gcc/12.2.0"
      - "nvhpc/24.5"
      - "openmpi/4.1.6--gcc--12.2.0-cuda-12.2"
      # This saturates half the bandwidth - "hpcx-mpi/2.19"
    custom_headers:
      - "#SBATCH --ntasks-per-node=4"
    # env: FIXME, not working
    #   - "UCX_NET_DEVICES=mlx5$SLURM_LOCALID:1"

  configs:
    - name: "leonardo__boost_usr_prod-{leonardo_service_level}__{gpus_per_node}_gpus__{nodes}_nodes"
      nodes: "{nodes}"
      gpus: "{gpus_per_node}"
      env:
        - "NCCL_IB_SL={leonardo_service_level}"
        - "UCX_IB_SL={leonardo_service_level}"


alps:
  scheduler: slurm

  default_conf:
    account: "lp100"
    cpus_per_task: 1
    time: "00:05:00"
    partition: "normal"
    modules: # Make sure this is coherent with AXCCL config
      - "gcc/13.2.0"
      - "cuda/12.4.0"
      - "nccl/2.20.3-1"
      - "cray-mpich/8.1.30"
    custom_headers:
      - "#SBATCH --uenv=prgenv-gnu/24.7:v3"
      - "#SBATCH --view=modules"
      - "#SBATCH --ntasks-per-node=4"

  configs:
    - name: "alps__normal__{gpus_per_node}_gpus__{nodes}_nodes"
      nodes: "{nodes}"
      ntasks: "{nodes}"
      gpus: "{gpus_per_node}"

